# Ignoriere die lokale Konfigurationsdatei (enthält private Zustände)
config.json

# Ignoriere Python-Cache
__pycache__/
*.pyc
.aider*

#ignoriere originales Logo
media/media-matrix-logo-original.png
make_logo.py
matrixwhisper.flatpak
.flatpak-builder/
build-dir/
repo/
